<ons-page modifier="menu-page">
    <!--<ons-toolbar modifier="transparent">
      <div class="right">
        <ons-toolbar-button class="menu-close" ng-click="menu.close()">
          </ons-icon>Close
        </ons-toolbar-button>
      </div>
    </ons-toolbar>-->
    
    <div class="profile-card">

        <img src="images/profile-image-01.png" class="profile-image">
        <div class="profile-name">Fernando Tangoda</div>
        <div class="profile-id">fernandotangoda@gmail.com</div>

    </div>

    <ons-list class="menu-list">
      <ons-list-item class="menu-item" ng-click="menu.close()">
        <ons-icon icon="fa-plus"></ons-icon>
        &nbsp; New Post
      </ons-list-item>

      <ons-list-item class="menu-item" ng-click="menu.close()">
        <ons-icon icon="fa-bookmark"></ons-icon>
        &nbsp; Bookmark
      </ons-list-item>

      <ons-list-item class="menu-item" ng-click="menu.close()">
        <ons-icon icon="fa-twitter"></ons-icon>
        &nbsp; Official Twitter
      </ons-list-item>
    </ons-list>

    <br>
    
    <ons-list class="bottom-menu-list">
      <ons-list-item class="bottom-menu-item" ng-click="menu.closeMenu()">
        Sair
      </ons-list-item>
    </ons-list>

  </ons-page>